<div class='row-centered login-background'>
<div class='col-centered col-xs-12 col-sm-3 login-container'>
  <center><h2>Register</h2></center>

  <hr />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <hr />

  <span class = 'col-xs-12 text-center footer-links'><%= render "devise/shared/links" %></div>
</div>
</div>
