Shipping address: <%= @shipping_address %>

Payment: At this time, we do not accept online payments. Adventure Glass will soon call you at the phone number you provided, and we will collect your payment
over the phone

Your purchased items:
<% @shopping_cart.products.uniq.each do |product| %>
  <div class = 'row-fluid clearfix'>
    <div class = 'col-sm-2'> <!-- picture -->
      <a href="/boats/mark_twains"><%= image_tag 'paddleboats/mark_twains/thumbnail.jpg',  :class=>"img-responsive thumbnail"%></a>
    </div>
    <div class = 'col-sm-6'>
      <span class = 'cart-product-title'> <%= link_to product.name, product_path(product) %> </span>
      <span> <%= product.description %> </span>
      <br />
      <span> <%= link_to 'Remove' %> </span>
    </div>
    <div class = 'col-sm-2'><!-- Price -->
      <span> $<%= product.quantity * product.price %>  </span>
      <% if product.quantity > 1 %>
        <span>(<%= product.quantity %> @ $<%= product.price %>) </span>
      <% end %>
    </div>
    <div class = 'col-sm-2'><!-- Qty -->
      <%= form_tag('#some_path') do %>
        <%= select_tag "quantity", options_for_select((0..10).to_a, product.quantity), :class => 'btn invisible-xs' %>
      <% end %>
    </div>
  </div>
<% end %>

