<% if @shopping_cart.products.empty? %>
  <%= render 'empty'%>
<% else %>
  <div class = 'container-fluid'>
    <div class = 'row-fluid'>
      <div class = 'col-sm-10'>
        <%= render 'products_summary' %>
      </div>
      <div class = 'col-sm-2 shopping-cart-summary text-center' data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <h4> Subtotal (<%= pluralize(@shopping_cart.products.count, 'item') %>): $<%= @total_cost %></h4>
        <%= link_to 'Check Out', checkout_path, :shopping_cart => @shopping_cart, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
