<% @options ||= @product.available_options %>
<h3> Options </h3>
<ul class = 'options-list list-unstyled'>
  <% @options.each do |option| %>
    <li>
      <%= link_to option_path(option, product_id: @product.id), remote: true, method: :delete, query: {product_id: @product.try(:id)}  do %>
        <!-- is query: needed here ^ -->
        <i class = 'fa fa-times-circle danger'></i>
      <% end %>
      <%= best_in_place option, :description %> $<%= best_in_place option, :price, display_as: :price_to_s %>
    </li>
  <% end %>
  <li>
    <%= link_to 'javascript:void(0);', id: 'add-option-form-toggle' do%>
      <i class = 'fa fa-plus-circle'> New Option</i>
    <% end %>
    <div id = 'option-new', style="display:none;">
      <%= form_for Option.new, remote: true do |f|   %>
        <%= f.hidden_field :product_id, value: @product.id%>
        <%= f.text_field :description, required: true, placeholder: 'Description' %>
        <%= f.number_field :price, placeholder: 'Price', value: nil, step: 'any' %>
        <%= button_tag type: 'submit', class: 'btn btn-success' do %>
          Save
        <% end %>
      <% end %>
    </div>
  </li>
</ul>
