<div class = 'hero-carousel'>
<%= render 'layouts/carousel' %>
</div>
<div class = 'text-center' >
  <h2> Proudly Made in the United States </h2>
  <p class='secondary'> Handcrafted in North Webster, IN </p>
</div>
<div class = 'container gallery-container'>
  <div class = 'row'>
    <div class = 'col-sm-4'>
      <a href = '/boats' class = 'gallery-link'>
        <div class = 'gallery-option text-center'>
          <%= image_tag 'boat_index.jpg' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Boats </p>
          </div>
        </div>
      </a>
    </div>
    <div class = 'col-sm-4'>
      <a href = '<%= new_product_path(base_model_id: Dock.first.id) %>' class = 'gallery-link'>
        <div class = 'gallery-option'>
          <%= image_tag 'docks/dockindy1.jpg' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Docks</p>
          </div>
        </div>
      </a>
    </div>
    <div class = 'col-sm-4'>
      <a href = '/parts' class = 'gallery-link'>
        <div class = 'gallery-option'>
          <%= image_tag 'accessories/hand_crank.jpg' %>
          <div class = 'gallery-option-description'>
            <p class = 'text-center'> Parts </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
