<h3> Details </h3>
<ul class='list-unstyled'>
  <% @base_model.specifications.each do |spec|%>
    <li>
      <%= link_to base_model_specification_path(@base_model, spec), remote: true, method: :delete do %>
        <i class = 'fa fa-times-circle danger'></i>
      <% end %>
      <%= best_in_place spec, :description, url: base_model_specification_path(@base_model, spec) %>
    </li>
  <% end %>
  <li>
    <%= link_to 'javascript:void(0);', id: 'add-specification-form-toggle' do%>
      <i class = 'fa fa-plus-circle'> New Spec</i>
    <% end %>
    <div id = 'specification-new', style="display:none;">
      <%= form_for Specification.new, url: base_model_specifications_path(@base_model), remote: true do |f|   %>
        <%= f.hidden_field :base_model_id, value: @base_model.id%> <!-- todo: why do you need base model id if you've got the base model id in the path above ^ --> 
        <%= f.text_field :description, required: true, placeholder: 'Description' %>
        <%= button_tag type: 'submit', class: 'btn btn-success' do %>
          Save
        <% end %>
      <% end %>
    </div>
  </li>
</ul>
