<hr class = 'nav-padding'/>
<div class = 'container product-title'>
  <h2> <%= best_in_place @base_model, :name, url: base_model_path(@base_model) %> </h2>
  <p> <%= best_in_place @base_model, :description, url: base_model_path(@base_model)%> </p>
</div>
<!-- re ordering of pics? definitely a wish list kinda thing -->
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-1' id='pictures'> <!--TODO - figure out what to do for small screens-->
    <%= render 'base_models/pictures/edit' %>
    </div>
    <div class = 'product-display col-md-6'>
      <div class = 'image-active'>
        <%= image_tag @pictures[0] %>
      </div>
    </div>
    <div class = 'col-md-2'>
      <span class='product-price'>Price: $<%= best_in_place @base_model, :price, display_as: :price_to_s, url: base_model_path(@base_model) %> </span>
      <hr />
      <div id='specifications'>
        <%= render 'specifications/edit' %>
      </div>
      <div id='options'>
        <%= render 'options/edit' %>
      </div>
      <%= link_to "Delete", base_model_path(@base_model), method: 'delete', class: 'btn btn-small btn-danger'%>
    </div>
  </div>
</div>
