<hr class = 'nav-padding' />
<%= render 'thumbnail_slider' %>
  <!--
<div class = 'row'>
  <div class = 'col-md-12 canoes-container'>
    <div class = 'col-md-6 img-container'>
      <%= image_tag 'canoes/side1.jpg' %>
    </div>
    <div class = 'col-md-6 img-container'>
      <%= image_tag 'canoes/side1.jpg' %>
    </div>
  </div>
  <hr class = 'boat-divider'/>
  <div class = 'col-md-12 gondolas-container'>
    <div class = 'col-md-6'>
      <%= image_tag 'canoes/side.jpg' %>
    </div>
    <div class = 'col-md-6 '>
      <%= image_tag 'canoes/side1.jpg' %>
    </div>
  </div>
</div>
<div class = 'row'>
  <div class = 'col-md-12 riverboats-container'>

  </div>
</div>
  -->
