<!DOCTYPE html>
<html>
  <head>
    <title>AdventureGlass</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"><!--  TODO host this locally -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/nav' %>
    <%= yield %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
